
* {
    font-family : "Garamond", sand-serif;
}

h1 {
    font-family : "Brush Script MT", "Garamond", sand-serif;
    font-size : 50px;
    font-weight : bold;
    color : #5D3FD3;
    text-align : center;
}

.card {
    width: 400px;
    background: #5D3FD3;
    margin: 0 auto;
    padding: 8px;
  }

.one {
    background: #e3f4ff;
    font-size : 16px;
    margin-top: 8px;
    margin-left : 8px;
    margin-right : 8px;
    padding: 8px;
    text-align : center;
}

.two {
    background: #e3f4ff;
    font-size : 16px;
    margin-left : 8px;
    margin-right : 8px;
    padding: 8px;
    text-align : center;
}

.three {
    background: #e3f4ff;
    font-size : 16px;
    margin-bottom: 8px;
    margin-left : 8px;
    margin-right : 8px;
    padding: 8px;
    text-align : center;
}

h2 {
    font-size : 25px;
    font-weight : 500;
    color : red;
}

p,
ul,
ol {
    font-size : 20px;
    font-weight : 350;
}

a {
    font-size : 25px;
}

a:link {
    color : red;
}

a:visited {
    color : #367588;
}

a:hover {
    color : #EBA832;
}